@import '../../styles/settings.scss';

.columnForm {
    align-items: center;
    padding: 10px;

    span {
        margin: 0 10px 0;
    }
}

@media (max-width: 599px) {

    .columnForm {
        span {
            display: block;
        }
    }

    button {
        display: block;
    }
}