@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.star {
    background: none;
    color: $color-yellow;
    border:none;
    cursor: pointer;
}

.favorite__star{
    color: $color-warning;
}

.trash {
    background: none;
    border: none;
    cursor: pointer;
}

.trash:focus {
    border: none;
    border-radius: 50%;
    background-color: $color-yellow;
}

form {
    display: inline-block;
}