@use "sass:math";
@import '../../styles/settings.scss';

.listForm {
    padding: 10px;
    width: 100%;
    text-align: center;

    span {
        margin: 0 10px 0;
    }
}

@media (max-width: 599px) {

    .listForm {
        span {
            display: block;
        }
    }

    button {
        display: block;
    }
}